<!DOCTYPE html>
<html lang="en">
<head>
  <title>Address Book</title>
</head>

<body>
  <header>
    Address Book
  </header>

  {{link-to 'Contacts' 'contacts'}}
  {{link-to 'Family' 'family'}}
  {{link-to 'Friends' 'friends'}}

  {{outlet}}
</body>
